:host {
  display: block;
  margin: 15px 0;
}

:host .meta {
  color: #666666;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.2;
}

:host .meta p {
  margin: 0 0 5px 0;
}
